[mysqld]
character-set-server=utf8mb4
collation-server=utf8_bin
transaction-isolation=READ-COMMITTED
default-storage-engine=INNODB
innodb_default_row_format=DYNAMIC
innodb_large_prefix=ON
innodb_file_format=Barracuda
max_allowed_packet=512M
innodb_log_file_size=2GB
binlog_format=row
transaction-isolation=READ-COMMITTED
